<nav>
      <div class="site-title">
        <a href='/'>Hexbyte</a>
        <p>I use arch BTW</p>
      </div>
      <ul>
        <li><a href='/about'>About</a></li>
        <li><a href='/'>Blogs</a></li>
        <li><a href='/blogs/create'>Create a New Blog</a></li>
      </ul>
      
</nav>


