<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>	
<body>
      <%- include('./partials/nav.ejs')%>
	    <div class="about content">
        <h2>About Me</h2>
        <h3>Who I am ?</h3>
        <p>I am islam from algeria, I love Cyber Security and Studing CS.</p>
        <h2>Techstack</h2>
        <p>Javascript, Python, Rust, Lua, C</p> 
      </div>

      <%- include('./partials/footer.ejs')%>
  </body>
</html>
